:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: #98a2ac;
    font-family: Verdana, Geneva, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

header {
    display: flex;
    background-color: #429cd6;
}

header h2 {
    padding-left: 1.5em;
    font-family: "Courier New", Courier, monospace;
}

ul {
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    text-decoration: none;
}

input[type=text], input[type=number], input[type=password] {
    width: 50%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input[type=submit] {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.75em;
    padding-left: 0.75em;

}

.spacer {
    padding-top: 0.25em;
}

.delete-container {
    padding-left: 100px;
    margin-top: -51px;
}

.create {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    padding: 0.5em;
}

.create:hover {
    background-color: #eeeeee;
}

.logout-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.logout {
    padding: 0.5em;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
}

.logout:hover {
    background-color: #eeeeee;
}

.menu-item {
    color: #000000;
    padding: 0.5em;
}

.menu-item:hover {
    background-color: #eeeeee;
    padding-left: 1em;
}

.title {
    flex: 10;
}

.logout {
    flex: 1;
}

.login-container {
    padding-top: 8em;
    max-width: 500px;
    margin: 0 auto;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex > * + * {
    margin-top: 0;
    margin-left: 1.5em;
}

.column-main {
    flex: 3;
    color: #000000;
    background-color: #8fc5e98f;
    padding: 1.5em;
}

.column-sidebar {
    flex: 1;
    background-color: #ed7663;
}

table, td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1.5em;
}
